<div class="card text-center">
    <div class="card-header bg-light">
      <span class="h5  font-weight-bold">{{pageTitle}}</span>
    </div>
    <div class="card-body">
        <img src="./assets/images/globe.jpg" 
        class="img-responsive center-block"
        style="padding-bottom:50px"/>
    </div>
    <div class="card-footer bg-light">
      <div class="text-center">Developed by:</div>
      <div class="text-center">Pradeep Kothamale</div>
      <div class="text-center">Pradeepk0365@gmail.com</div>
    </div>
  </div>